*
{
    color: #fff;
    font-size: 16px;
}
body
{
    background-color: #1B1B1B;
}
/* Container */
.container
{
    max-width: 1200px;
    margin: 0 auto;
}

/* NAVIGATION */
.navigation
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__links
{
    margin: 0;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.profile
{
    display: flex;
    align-items: center;
}

/* Tasks */
.main
{

    max-width: 1000px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.tasks
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task__today
{
    width: 100px;
}
.task__tomorrow
{
    width: 100%;
}

.task 
{
    width: 100%;
    height: 40px;
    background: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px ;
}
.task__name
{
    color: #1B1B1B;
}
/* CAlendar */
.calendar-wrapper {
    width: 300px;
    
    padding: 2em;
    
    border-radius: 5px;
}
    table {
    clear: both;
    width: 100%;
    border-radius: 3px;
    border: 1px solid white;
    border-collapse: collapse;
    color: #444;
}
td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    width: 14.28571429%;
    
}
thead td {
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
}
td.normal:hover, td.not-current:hover
{
    background: #FFD486;
}
td.not-current {
    color: #c0c0c0; 
}
td.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
    background: #BDFFBC;
  }
  #btnPrev {
    float: left;
    margin-bottom: 20px;
  }
  #btnPrev:before {
    content: '\f104';
    font-family: FontAwesome;
    padding-right: 4px;
  }
  #btnNext {
    float: right;
    margin-bottom: 20px;
  }
  #btnNext:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 4px;
  }
  #btnPrev,
  #btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  #btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}